<!-- The content in this file is inserted into the base.html file -->
<footer>


    <div class="socials">
        <ul>


            <li> <a href="https://www.instagram.com/utpikler/" target="_blank"> <i class="fa-brands fa-instagram"></i> </a></li>
            <li> <a href="#"> <i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"> <i class="fa-brands fa-facebook-f"></i></a></li>
            <li> <a href="#"> <i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"> <i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="mailto:u3220927@uni.canberra.edu.au" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>


        </ul>

    </div>



</footer>
