<div class="boxcontainer">
    <div class="box"> <img src="assets/images/lemoncurd.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3><a href="index.html">Lemon curd </a></h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/chillioil.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3><a href="index.html">Chilli oil</a></h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/peartartetatin.webp" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Pear Tarte Tatin</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/gravlax.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Gravlax</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/kimchi.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Kimchi</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/blacksesame.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Black sesame ice cream</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/curry.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3><a href="recipes/recipe-1/">Beef Madras</a>
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/caneles.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Canelés</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/Hummus.webp" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Hommous</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/pesto.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Pesto</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/chickenlarb.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Chicken larb</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/mussels.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Chilli mussels</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/vichyssoise.webp" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Vichyssoise</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/shakshuka.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Chorizo Shakshuka</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/chocolatefondant.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Chocolate Fondant</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/baba%20ganoush.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Baba Ganoush</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/brioche.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Brioche</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/cherry%20strudel.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Cherry Strudel</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/lamb%20biryani.png" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Lamb Biryani</h3>
            </div>
        </div>
    </div>
</div>
<div class="boxcontainer">
    <div class="box"> <img src="assets/images/cucumbersorbet.jpg" alt="image" />
        <div class="overlay">
            <div class="name">
                <h3>Cucumber Sorbet</h3>
            </div>
        </div>
    </div>
</div>
