<!-- This content is inserted into the base.html file -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=M+PLUS+Rounded+1c:wght@300&family=Ms+Madi&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d76a72ed41.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ 'http://localhost:8080/assets/css/reset.css' | url }}">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="{{ 'http://localhost:8080/assets/css/styles.css' | url }}">




<!-- you could add favicons etc here -->
